---
import { getEntry, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Timeline from "../../components/ui/Timeline.astro";
import Skill from "../../components/layout/Skill.astro";
import { PAGES } from "../../config";
import Icon from "../../components/ui/Icon.astro";

if (PAGES.cv.isActive === false) {
  return Astro.redirect("/404");
}

const cvEntry = await getEntry("cv", "cv");
if (!cvEntry) {
  throw new Error(
    "CV content not found. Please ensure src/content/cv.md exists.",
  );
}

const { Content } = await render(cvEntry);
const { name, title, experience = [], education = [] } = cvEntry.data;
const languages = [
  "Java 17+",
  "Spring Boot",
  "Spring Framework",
  "Hibernate",
  "Criteria API",
];

const integration = [
  "REST",
  "SOAP",
  "Kafka",
  "Avro",
  "Schema Registry",
  "Kafka Connect",
];

const databases = ["PostgreSQL", "OracleDB", "ClickHouse"];
const testing = ["JUnit", "TestContainers", "JaCoCo"];
const devops = ["Docker", "Kubernetes", "Linux", "Prometheus", "Grafana"];
const tools = ["Git", "GitLab", "Bitbucket", "Jenkins", "Maven", "Gradle"];
---

<BaseLayout title={PAGES.cv.title}>
    <div class="flex justify-end">
<a
    href={`/pdf/CV_TOLMACHEV_NIKITA_JAVA_DEV.pdf`}
    class="nav-prev flex group max-w-[45%] no-underline sidebar-work-place"
  >
    <span
      class="nav-title text-lg font-semibold text-foreground group-hover:text-accent transition-colors duration-200 leading-snug"
      >Скачать в PDF</span
    >
    <Icon name="Download" size={30} />
  </a>
  </div>

  <div class="container-narrow">
    {
      experience.length > 0 && (
        <section class="section">
          <h2 class="section-title border-b border-border pb-2">Опыт работы</h2>
          <Timeline
            items={experience.map((exp) => ({
              title: exp.role,
              subtitle: exp.institution,
              period: exp.period,
              desc: exp.desc,
            }))}
          />
        </section>
      )
    }

    <h2 class="section-title border-border pb-1">Stack</h2>
    <div>
      <Skill skills={languages} />
      <Skill skills={integration} />
      <Skill skills={databases} />
      <Skill skills={testing} />
      <Skill skills={devops} />
      <Skill skills={tools} />
    </div>

    <div class="prose max-w-none">
      <Content />
    </div>

    {
      education.length > 0 && (
        <section class="section">
          <h2 class="section-title border-b border-border pb-2">Образование</h2>
          <Timeline
            items={education.map((edu) => ({
              title: edu.degree,
              subtitle: edu.institution,
              period: edu.period,
              description: edu.description,
              thesis: edu.thesis,
            }))}
          />
        </section>
      )
    }
  </div>
</BaseLayout>
